# Database
DATABASE_URL="postgresql://user:password@localhost:5432/tic-tok-template-genre"

# Backend
BACKEND_PORT=3001
NODE_ENV=development

# Frontend
NEXT_PUBLIC_API_URL=http://localhost:3001

# Admin
NEXT_PUBLIC_ADMIN_URL=http://localhost:3002
